:host {
  .container {
    border: 1px solid gray;
    border-radius: 12px;
    margin-bottom: 12px;
    text-align: center;
    p {
      display: inline-block;
      font-size: 24px;
      color: green;
      line-height: 28px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
      }
    }
    input {
      width: 20%;
      border-radius: 6px;
      padding: 6px;
      margin-bottom: 12px;
    }
    button {
      border-radius: 6px;
      padding: 6px;
      margin-bottom: 12px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: rgb(206, 203, 203);
      }
    }
  }
}
