:host {
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;

    h1 {
      text-align: center;
      background-color: rgb(215, 213, 213);
      border-radius: 12px;
      padding-block: 5px;
    }
    .progress {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: #fff;
      z-index: 10;
    }
    &.mask:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
