<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <label
    >Title
    <input name="title" ngModel type="text" required />
  </label>
  <label
    >Amount:
    <input name="amount" ngModel type="number" required />
  </label>
  <label
    >Type:
    <select name="type" ngModel required>
      <option value=""></option>
      <option value="expense">expense</option>
      <option value="income">income</option>
    </select>
  </label>
  <button [disabled]="!form.valid" [ngClass]="form.valid ? 'valid' : ''">
    Submit
  </button>
</form>
